{{! list node's properties }}
<div class="layout-column node-wrapper {{if node.hidden 'hidden'}} {{if nodeIsntRoot 'non-root'}}">
  <div class="layout-row layout-align-space-between node type-{{node.type}}">
    {{! type independent attrs}}

    {{#if nodeIsntRoot}}
      <div class="layout-row  layout-align-space-around-center">
        {{paper-checkbox value=node.selected onChange=(action (mut node.selected))}}
      </div>
    {{/if}}

    {{! pivot type attrs}}
    {{#if nodeIsPivot}}
      <h4>{{node.title}}</h4>
    {{/if}}

    {{! course type attrs}}
    {{#if nodeIsCourse}}
      <h4>{{node.subject}}{{node.number}}</h4>
    {{/if}}

    {{!click-to-edit
      attr=node.parentRel
      label="Parent Rel"
    }}
    {{!click-to-edit
      attr=node.childrenSelected
      label="C. Selected"
    }}

    {{!click-to-edit
      attr=node.isDuplicate
      label="Is Duplicate"
    }}

    {{#if nodeHasChildren}}
      <p class="{{unless numChildrenRequiredFulfilled 'grayed'}}">Choose ({{node.numChildrenRequired}})</p>
    {{/if}}

  </div>

  {{! reccur on node's children if they exist}}
  {{#if shouldShowChildren}}
    {{#each node.children as |child|}}
      {{decision-node-editor
        node=child
        parentRecurrenceDepth=recurrenceDepth
        onSelect=(action 'childSelected')
        onUnselect=(action 'childUnselected')
      }}
    {{/each}}
  {{/if}}
</div>
