{{! requires `items`, `type`, and `action...`}}
{{#paper-content class="md-whiteframe-z1"}}
  {{#paper-list}}
    {{#each items as |item|}}
      {{#paper-item class="md-3-line list-item"}}
        <div class="md-list-item-text list-item-text">
          <div class="layout-row layout-align-space-between">
            <div class="layout-column layout-align-space-around-start">
              <h4>{{item.title}}</h4>
            </div>
            <div>
              {{#paper-button warn=true iconButton=true onClick=(action 'removeItemPrompt' item)}}
                {{paper-icon "remove circle"}}
              {{/paper-button}}
            </div>
          </div>
        </div>
      {{/paper-item}}
      {{paper-divider}}
    {{/each}}
  {{/paper-list}}
{{/paper-content}}

{{#if displayRemoveItemPrompt}}
  {{#paper-dialog fullscreen=fullscreen onClose=(action "closeRemoveItemPrompt" "cancel") origin=dialogOrigin}}

    {{#paper-dialog-content}}
    <h2 class="md-title">{{removePromptTitle}}</h2>
    <p class="uppercase">{{removePromptContent}}</p>
    {{/paper-dialog-content}}

    {{#paper-dialog-actions class="layout-row"}}
      <span class="flex"></span>
      {{#paper-button primary=true onClick=(action "closeRemoveItemPrompt" "cancel")}}Cancel{{/paper-button}}
      {{#paper-button primary=true warn=true onClick=(action "closeRemoveItemPrompt" "remove" dogName)}}Remove{{/paper-button}}
    {{/paper-dialog-actions}}

  {{/paper-dialog}}
{{/if}}
