{{#with model as |user|}}
  <h3>Sign Up</h3>
  {{#if displaySignupForm}}
    <form {{action "submit" on="submit"}}>
      <label for="nameFirst">First Name</label>
      {{input value=user.nameFirst placeholder="Enter first name"}}
      <label for="nameLast">Last Name</label>
      {{input value=user.nameLast placeholder="Enter last name"}}
      <label for="email">Email</label>
      {{input value=user.email placeholder="Enter email"}}
      <label for="password">Password <em>(6 characters minimum)</em></label>
      {{input value=user.password type="password" placeholder="Enter password"}}
      <label for="passwordConfirmation">Password Confirmation</label>
      {{input value=user.passwordConfirmation type="password" placeholder="Enter password again"}}
      <button type="submit">Sign Up</button>
    </form>
    {{#if errormessage}}
      <hr />
      {{errormessage}}
      <hr />
    {{/if}}
    <p>{{#link-to 'users.login'}}Login{{/link-to}}</p>
    <p><a href="#">!Didn't receive confirmation instructions?!</a></p>
  {{else}}
    <h4>You must now confirm you email address in order to activate your account.</h4>
    <h4>Already confirmed? {{#link-to 'users.login'}}Click here to login.{{/link-to}}</h4>
  {{/if}}
  {{outlet}}
{{/with}}
