<h3>(Timelines Template)</h3>
<ul>
  {{#each model as |timeline|}}
  <li>{{timeline.id}}: {{timeline.title}}
    <ul>
      <li><b>User:</b> {{timeline.user.id}} : {{timeline.user.full_name}}</li>
      <li><b>Quarters:</b>
        <ul>
          {{#each timeline.quarters as |quarter|}}
            <li>{{quarter.id}} : {{quarter.season}} : {{quarter.start_date}}</li>
          {{else}}
            <p>No quarters</p>
          {{/each}}
        </ul>
      </li>
      <li><b>Courses:</b>
        <ul>
          {{#each timeline.courses as |course|}}
            <li>{{course.id}}: {{course.title}}</li>
          {{else}}
            <p>No courses</p>
          {{/each}}
        </ul>
      </li>
    </ul>
  </li>
  {{else}}
    <p>No timelines</p>
  {{/each}}
</ul>
