<h3>Dashboard</h3>

<p>Dashboard to contain the active timeline and the majority of all Reqourse features.</p>

{{#if session.isAuthenticated}}
  <h3>Authenticated!</h3>
{{else}}
  <h3>Unauthenticated :(</h3>
{{/if}}

{{tool-bar}}

<a href="#" {{action 'click'}}>Click</a>

<a href="#" {{action 'logout'}}>Logout</a>
{{outlet}}
