<div class="dashboard-view user-inner-content">
  <!--h3>Dashboard</h3-->

  <div class="layout-row">
    <div class="layout-row">

      {{#each timelines as |timeline|}}
        {{#paper-button raised=timeline.isCurrent class="slim-button"}}
          <div class="layout-row layout-align-space-around-center">
            <h4 class="slim-h4">
              {{timeline.title}}
            </h4>
            {{#paper-button primary=false warn=true raised=false iconButton=true}}
              {{paper-icon 'remove circle'}}
            {{/paper-button}}
          </div>
        {{/paper-button}}
      {{/each}}

      {{#paper-button primary=true class="slim-button"}}
        <div class="layout-row layout-align-space-around-center">
          <h4 class="slim-h4">
            New timeline
          </h4>
          {{#paper-button primary=true raised=false iconButton=true}}
            {{paper-icon 'add circle'}}
          {{/paper-button}}
        </div>
      {{/paper-button}}

    </div>
  </div>

  <div class="layout-column current-timeline">
    <div class="title">
      <h3>
        {{#if syncingInProgress}}
          {{! Display loading spinner}}
          {{! TODO: Better user feedback that syncing is in progress }}
          <strong>{{currentTimeline.title}}</strong>
          {{#paper-button primary=true disabled=syncDisabled iconButton=true onClick=(action 'sync')}}{{paper-icon 'sync'}}{{/paper-button}}
          {{currentTimelineTotalCourses}} Courses, {{currentTimelineTotalUnits}} Units
        {{else}}
          {{currentTimeline.title}}
          {{! Display sync button}}
          {{#paper-button primary=true disabled=syncDisabled iconButton=true onClick=(action 'sync')}}{{paper-icon 'sync'}}{{/paper-button}}
          {{currentTimelineTotalCourses}} Courses, {{currentTimelineTotalUnits}} Units
        {{/if}}
        <!-- <button {{!action 'debugMe'}}>Debug Me</button> -->
      </h3>
    </div>
    <div class="years layout-row layout-wrap layout-align-space-between-start">
      {{! TODO implement year model in the backend }}
      {{#each currentYears as |year|}}
        <div class="year flex-50 layout-row">
        {{!#paper-content class="md-whiteframe-z1 list-demo list-controls-demo year layout-row"}}
          {{#each year.quarters as |quarter|}}
            <div class="quarter layout-column">
              <div {{action 'openQuarterSettings' quarter}}>
                {{#paper-toolbar class="uppercase title" onClick=(action 'openQuarterSettings' quarter)}}
                  <span>{{quarter.season}} {{quarter.startYear}} <strong class="total-units">+{{quarter.totalUnits}}</strong></span>
                {{/paper-toolbar}}
              </div>
              {{#paper-content class="md-whiteframe-z1 list-demo courses layout-column"}}
                {{#paper-list}}
                  {{#each quarter.courses as |course|}}
                    {{#if course.isStatic}}
                      {{! TODO: figure out how to simply insert the is-static classname into }}
                      {{!       the paper-item component element instead of repeating the template markup }}
                      {{#paper-item class="md-3-line course is-static" onClick=(action 'openCourseSettings' course)}}
                        <div class="md-list-item-text">
                          <h4>{{course.subject}} {{course.number}} <span class="grayed">({{course.units}} units)</span></h4>
                          <p>{{course.title}}</p>
                        </div>
                      {{/paper-item}}
                    {{else}}
                      {{#paper-item class="md-3-line course" onClick=(action 'openCourseSettings' course)}}
                        <div class="md-list-item-text">
                          <h4>{{course.subject}} {{course.number}} <span class="grayed">({{course.units}} units)</span></h4>
                          <p>{{course.title}}</p>
                        </div>
                      {{/paper-item}}
                    {{/if}}
                    {{paper-divider}}
                  {{else}}
                    {{#paper-item class="md-3-line course"}}
                      <div class="md-list-item-text">
                        <p class="no-courses-text">- No courses -</p>
                      </div>
                    {{/paper-item}}
                  {{/each}}
                {{/paper-list}}
              {{/paper-content}}

            </div>
          {{else}}
            <p>No quarters</p>
          {{/each}}

        {{!/paper-content}}
        </div>
      {{/each}}
    </div>
  </div>

  {{decision-tree-window enabled=decisionTreeWindowEnabled onClose=(action 'decisionTreeWindowDidClose') timeline=currentTimeline}}
  {{quarter-editing-window enabled=quarterEditingWindowEnabled onClose=(action 'quarterEditingWindowDidClose') quarter=quarterEditing}}
  {{course-editing-window enabled=courseEditingWindowEnabled onClose=(action 'courseEditingWindowDidClose') course=courseEditing}}

</div>
