<div class="degree-path-view">

  <div class="layout-column">
    <h3>Select your major(s) and minor(s)</h3>
  </div>

  <div id="form" class="layout-column form">

    {{#paper-form onSubmit='submit' as |form|}}


      {{! List selected majors (and delete buttons)}}
      {{#paper-subheader class="md-no-sticky"}}Majors{{/paper-subheader}}
      {{degree-path-list items=school.degreeMajors type='majors'}}

      {{! Select new major}}

      {{! List selected minors (and delete buttons)}}
      {{#paper-subheader class="md-no-sticky"}}Minors{{/paper-subheader}}
      {{degree-path-list items=school.degreeMinors type='minors'}}

      {{! Select new minor}}


      {{degree-major-item}}
      {{degree-minor-item}}
      {{#link-to 'user.onboard.prior-coursework'}}Onboard, prior coursework{{/link-to}}
      {{outlet}}


    {{/paper-form}}
  </div>

</div>

