<div class="degree-path-view">

  <div class="layout-column">
    <h3>Select your major(s) and minor(s)</h3>
  </div>

  <div id="form" class="layout-column form">

    {{#paper-form onSubmit='submit' as |form|}}

      {{! Majors }}
      {{#paper-subheader class="md-no-sticky"}}Majors{{/paper-subheader}}
      {{! Insert }}
      {{degree-path-insert items=model.school.degreeMajors type='major' onInsert=(action 'addDegreeMajor')}}
      {{! List, Delete }}
      {{degree-path-list items=model.degreeMajors type='major' onDelete=(action 'removeDegreeMajor')}}

      {{! Minors }}
      {{#paper-subheader class="md-no-sticky"}}Minors{{/paper-subheader}}
      {{! Insert }}
      {{degree-path-insert items=model.school.degreeMinors type='minor' onInsert=(action 'addDegreeMinor')}}
      {{! List, Delete }}
      {{degree-path-list items=model.degreeMinors type='minor' onDelete=(action 'removeDegreeMinor')}}



      <div class="layout-row">
        {{#paper-button disabled=continueDisabled raised=true primary=true onClick=(action 'saveAndContinue')}}
          <div class="layout-row">
            <div class="">
              Continue
            </div>
            <div class="">
              {{! Loading spinner}}
              {{#if isRequesting}}
                {{paper-progress-circular warn=true class="md-hue-3" diameter="40%"}}
              {{/if}}
            </div>
          </div>
        {{/paper-button}}
      </div>

    {{/paper-form}}
  </div>

</div>

