<div class="degree-path-view">

  <div class="layout-column">
    <h3>Select your major(s) and minor(s)</h3>
  </div>

  <div id="form" class="layout-column form">

    {{#paper-form onSubmit='submit' as |form|}}


      {{! List selected majors (and delete buttons)}}
      {{#paper-subheader class="md-no-sticky"}}Majors{{/paper-subheader}}
      {{degree-path-list items=school.degreeMajors type='majors' onDelete=(action 'deleteDegreeMajor')}}

      {{! Select new major}}

      {{! List selected minors (and delete buttons)}}
      {{#paper-subheader class="md-no-sticky"}}Minors{{/paper-subheader}}
      {{degree-path-list items=school.degreeMinors type='minors' onDelete=(action 'deleteDegreeMinor')}}

      {{! Select new minor}}


      {{degree-major-item}}
      {{degree-minor-item}}
      {{#link-to 'user.onboard.prior-coursework'}}Onboard, prior coursework{{/link-to}}
      {{outlet}}


    {{/paper-form}}
  </div>

  {{#if displayDeletePrompt}}
    {{#paper-dialog fullscreen=fullscreen onClose=(action "closeLogoutDialog" "cancel") origin=dialogOrigin}}

      {{#paper-dialog-content}}
        <h2 class="md-title">Are you sure you'd like to logout?</h2>
      {{/paper-dialog-content}}

      {{#paper-dialog-actions class="layout-row"}}
        <span class="flex"></span>
        {{#paper-button primary=true onClick=(action "closeLogoutDialog" "cancel")}}Cancel{{/paper-button}}
        {{#paper-button primary=true warn=true onClick=(action "closeLogoutDialog" "logout" dogName)}}Logout{{/paper-button}}
      {{/paper-dialog-actions}}

    {{/paper-dialog}}
  {{/if}}

</div>

