<h3>(Courses Template)</h3>
<ul>
  {{#each model as |course|}}
    <li>{{course.title}}: {{course.id}}
      <ul>
        <li><b>School:</b> {{course.school.id}} : {{course.school.title}}</li>
        <li><b>Timelines:</b>
          <ul>
            {{#each course.timelines as |timeline|}}
              <li>{{timeline.id}}: {{timeline.title}}</li>
            {{else}}
              <li>No timelines</li>
            {{/each}}
          </ul>
        </li>
        <li><b>Quarters:</b>
          <ul>
            {{#each course.quarters as |quarter|}}
              <li>{{quarter.id}}: {{quarter.season}} : {{quarter.start_date}}</li>
            {{else}}
              <li> No quarters</li>
            {{/each}}
          </ul>
        </li>
        <li><b>Concurrent Children:</b>
          <ul>
            {{#each course.concurrent_children as |concurrent_course|}}
              <li>{{concurrent_course.id}}: {{concurrent_course.title}}</li>
            {{else}}
              <li> No concurrent children</li>
            {{/each}}
          </ul>
        </li>
        <li><b>Nodes:</b>
          <ul>
            {{#each course.nodes as |node|}}
              <li>{{node.id}}: {{node.title}}</li>
            {{else}}
              <li> No nodes</li>
            {{/each}}
          </ul>
        </li>
      </ul>
    </li>
  {{else}}
    <p>No courses</p>
  {{/each}}
</ul>
