<div class="user-view">
  {{#paper-sidenav-container class="user-content"}}

    {{#paper-sidenav
      class="md-whiteframe-z2 layout-column sidenav"
      name="left"
      open=leftSideBarOpen
      closeOnClick=false
      onToggle=(action (mut leftSideBarOpen))
    }}
    {{#paper-toolbar class="layout-column header" as |toolbar|}}

      <div class="logo layout-row">
        <h1>Reqourse</h1>
        <h6>BETA</h6>
      </div>

      <div class="slogan layout-column">
        <h4>Plan your schedule. Plan your future.</h4>
      </div>

    {{/paper-toolbar}}
      {{#paper-content class="layout-column" padding=true}}

        {{! Majors }}
        {{! Insert, List, Delete }}
        {{list-editor sourceModel='school' sourceId=sessionAccount.account.school.id itemsModel='degreeMajors' itemModelAlias='major'}}

        {{! Minors }}
        {{! Insert, List, Delete }}
        {{list-editor sourceModel='school' sourceId=sessionAccount.account.school.id itemsModel='degreeMinors' itemModelAlias='minor'}}

        {{! Prior coursework }}
        {{! Insert, List, Delete }}
        {{list-editor sourceModel='school' sourceId=sessionAccount.account.school.id itemsModel='courses' itemModelAlias='course'}}

      {{/paper-content}}
    {{/paper-sidenav}}


    {{#paper-card-content class="flex"}}

      {{#paper-toolbar as |toolbar|}}

        {{#toolbar.tools}}

          {{#paper-sidenav-toggle name="left" class="hide-gt-sm" as |toggleAction|}}
            {{#paper-button iconButton=true onClick=(action toggleAction)}}
              {{paper-icon "menu"}}
            {{/paper-button}}
          {{/paper-sidenav-toggle}}

          <h2 class="uppercase">
            <span class="rq-yellow">Reqourse</span>
            {{#each path as |pathPart|}}
              > {{pathPart}}
            {{/each}}
          </h2>

          <span class="flex"></span>

          <h5>Hi, <strong class="uppercase">{{sessionAccount.account.nameFirst}}</strong></h5>

          {{#paper-button raised=routeIsSettings disabled=routeIsSettings iconButton=true}}
            {{#link-to 'user.settings'}}
              {{paper-icon "person"}}
            {{/link-to}}
          {{/paper-button}}

          {{#paper-button raised=routeIsDashboard disabled=routeIsDashboard iconButton=true}}
            {{#link-to 'user.dashboard'}}
              {{paper-icon "home"}}
            {{/link-to}}
          {{/paper-button}}

        {{/toolbar.tools}}

      {{/paper-toolbar}}

      <div>
        {{outlet}}
      </div>

    {{/paper-card-content}}

  {{/paper-sidenav-container}}
</div>
